#container_desconto1{
  display: flex; 
  justify-content: space-around;
   
}

#container_desconto2{
    display: flex; 
    justify-content: space-around;
    
}

.promocoes_h1{
    text-align: center;
    margin-top: 1em;
    font-size: 50px;
}
main > .container > h1{
 text-align: center;
 font-size: 3.5em;
}

main > .container {
    background-color: orange;
    padding: 20px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.object{
    height: auto;
    width: 20em;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.object > div > *{
    padding: 2px;
}

button{
    width: 100%;
    height: 4em;
    margin-top: 1em;
    background-color: #F75611;
    border: none;
    color: white;
    border-radius: 5px;
}
img{
    height: 300px;
    width: 300px;



}

.span-div{
    display: inline-block;
    background-color: orange;
    color: white;
    border-radius: 5px;
    padding: 1px;
    
}

