.main_objetos{
    padding: 5%;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    grid-template-rows: 80vh 80vh 80vh;
}
.object{
    height: 400px;
    width: 300px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}
button{
    width: 100%;
    margin-top: 1em;
}
img{
    height: 300px;
    width: 300px;
}

.preco_p{
    margin-top: 0.5em;
}