

<aside class="container">
    <h1>Contato</h1>
    <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Fale com a gente!</h1>
  </div>
</div>
    <address>
            <h1>Trip Show</h1>
            <p>Email: tripshow@gmail.com</p>
            <h2>Contatos</h2>
            <p>SAC: 0800-250-636</p>
            <p>Atendimento: 4698-6525</p>
        </address>  
</aside>