@{
    ViewData["Title"] = "Destinos";
}
<h1>@ViewData["Title"]</h1>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Destinos para você!</h1>
  </div>
</div>
<!--
    img: "http://2.bp.blogspot.com/-RThEwEqQrtc/Uk2l9uuty4I/AAAAAAAAnE0/ZsPTiyseI_A/s1600/Rio-de-Janeiro.jpg",
    destinoCidade: "Rio de Janeiro",
    destinoEstado: "RJ",
    preco: 300,
-->

<div class="row">
<div class="card col" style="width: 18rem;">
  <img class="card-img-top" src="https://s2.glbimg.com/Z8uoqOyhqG7E33Uh0iMoOnygXBE=/0x0:680x452/924x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2019/J/z/ly7VkgQeG3AAXvcPNdzg/maringa-quer-se-tornar-a-capital-nacional-do-associativismo.jpeg" alt="Imagem de capa do card">
  <div class="card-body">
    <h1>Paraná</h1>
    <button class="btn btn-info">Ver Mais</button>
  </div>
</div>
<div class="card col" style="width: 18rem;">
  <img class="card-img-top" src="https://s2.glbimg.com/Z8uoqOyhqG7E33Uh0iMoOnygXBE=/0x0:680x452/924x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2019/J/z/ly7VkgQeG3AAXvcPNdzg/maringa-quer-se-tornar-a-capital-nacional-do-associativismo.jpeg" alt="Imagem de capa do card">
  <div class="card-body">
    <h1>Paraná</h1>
    <button class="btn btn-info">Ver Mais</button>
  </div>
</div>
<div class="card col" style="width: 18rem;">
  <img class="card-img-top" src="https://s2.glbimg.com/Z8uoqOyhqG7E33Uh0iMoOnygXBE=/0x0:680x452/924x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2019/J/z/ly7VkgQeG3AAXvcPNdzg/maringa-quer-se-tornar-a-capital-nacional-do-associativismo.jpeg" alt="Imagem de capa do card">
  <div class="card-body">
    <h1>Paraná</h1>
    <button class="btn btn-info">Ver Mais</button>
  </div>
</div>
</div>

<div class="row">
    <div class="card col" style="width: 18rem;">
  <img class="card-img-top" src="https://s2.glbimg.com/Z8uoqOyhqG7E33Uh0iMoOnygXBE=/0x0:680x452/924x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2019/J/z/ly7VkgQeG3AAXvcPNdzg/maringa-quer-se-tornar-a-capital-nacional-do-associativismo.jpeg" alt="Imagem de capa do card">
  <div class="card-body">
    <h1>Paraná</h1>
    <button class="btn btn-info">Ver Mais</button>
  </div>
</div>
<div class="card col" style="width: 18rem;">
  <img class="card-img-top" src="https://s2.glbimg.com/Z8uoqOyhqG7E33Uh0iMoOnygXBE=/0x0:680x452/924x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2019/J/z/ly7VkgQeG3AAXvcPNdzg/maringa-quer-se-tornar-a-capital-nacional-do-associativismo.jpeg" alt="Imagem de capa do card">
  <div class="card-body">
    <h1>Paraná</h1>
    <button class="btn btn-info">Ver Mais</button>
  </div>
</div>
<div class="card col" style="width: 18rem;">
  <img class="card-img-top" src="https://s2.glbimg.com/Z8uoqOyhqG7E33Uh0iMoOnygXBE=/0x0:680x452/924x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2019/J/z/ly7VkgQeG3AAXvcPNdzg/maringa-quer-se-tornar-a-capital-nacional-do-associativismo.jpeg" alt="Imagem de capa do card">
  <div class="card-body">
    <h1>Paraná</h1>
    <button class="btn btn-info">Ver Mais</button>
  </div>
</div>
</div>