@{
    ViewData["Title"] = "Promoções";
}
<h2>@ViewData["Title"]</h2>
<style>
    *{
        padding:0;
    }
     .caixa > h1 {
        text-align: center;
        font-size: 3.5em;
    }

     .caixa {
        background-color: orange;
        padding: 20px;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .object {
        height: 450px;
        width: 300px;
        border: 1px solid black;
        border-radius: 10px;
        padding: 20px;
        text-align: center;
    }
    img {
        height: 200px;
        width: 200px;
    }
    #container_desconto1{
        display:flex;
        flex-direction:row;
    }
    #container_desconto2 {
        display: flex;
        flex-direction:row;
    }
</style>
<main>

    <div>
        <div class="caixa">
            <h1>Ganhe 20% na compra do segundo destino!</h1>
        </div>
        <div id="container_desconto1">

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src=".../100px180/" alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Título do card</h5>
                    <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
                    <a href="#" class="btn btn-primary">Visitar</a>
                </div>
            </div>

                <div class="object">
                    <img src="http://2.bp.blogspot.com/-RThEwEqQrtc/Uk2l9uuty4I/AAAAAAAAnE0/ZsPTiyseI_A/s1600/Rio-de-Janeiro.jpg">
                    <div>
                        <p>Destino</p>
                        <h1>Rio de Janeiro - RJ</h1>
                        <p>R$300,00</p>
                        <button class="btn btn-info">Comprar</button>
                    </div>

                    <div class="object">
                        <img src="http://2.bp.blogspot.com/-RThEwEqQrtc/Uk2l9uuty4I/AAAAAAAAnE0/ZsPTiyseI_A/s1600/Rio-de-Janeiro.jpg">
                        <div>
                            <p>Destino</p>
                            <h1>Rio de Janeiro - RJ</h1>
                            <p>R$300,00</p>
                            <button class="btn btn-info">Comprar</button>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <div>
        <div class="caixa">
            <h1>Ganhe 30% na compra do terceiro destino!</h1>
        </div>
        
        <div id="container_desconto2">

            <div class="object">
                <img src="http://2.bp.blogspot.com/-RThEwEqQrtc/Uk2l9uuty4I/AAAAAAAAnE0/ZsPTiyseI_A/s1600/Rio-de-Janeiro.jpg">
                <div>
                    <p>Destino</p>
                    <h1>Rio de Janeiro - RJ</h1>
                    <p>R$300,00</p>
                    <button class="btn btn-info">Comprar</button>
                </div>
                <div class="object">
                    <img src="http://2.bp.blogspot.com/-RThEwEqQrtc/Uk2l9uuty4I/AAAAAAAAnE0/ZsPTiyseI_A/s1600/Rio-de-Janeiro.jpg">
                    <div>
                        <p>Destino</p>
                        <h1>Rio de Janeiro - RJ</h1>
                        <p>R$300,00</p>
                        <button class="btn btn-info">Comprar</button>
                    </div>
                </div>
                <div class="object">
                    <img src="http://2.bp.blogspot.com/-RThEwEqQrtc/Uk2l9uuty4I/AAAAAAAAnE0/ZsPTiyseI_A/s1600/Rio-de-Janeiro.jpg">
                    <div>
                        <p>Destino</p>
                        <h1>Rio de Janeiro - RJ</h1>
                        <p>R$300,00</p>
                        <button class="btn btn-info">Comprar</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>
